.pop-background {
    width: 70%;
    height: 85%;
    border-radius: 20px;
    background-color: white;
    border: 3px solid whitesmoke;
    border-radius: 25px;
    box-shadow: 0px 0px 6px midnightblue;
}

.project-name {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Quantico", sans-serif;
    & span {
        font-size: 40px;
        width: 100%;
        text-align: center;
    }
}
.project-slider-full-desc-holder {
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.slider-holder {
    height: 100%;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.project-full-description {
    height: 60%;
    width: 35%;
    padding: 2% 2%;
    border-left: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    & span {
        text-align: center;
        font-size: 14px;
        width: 100%;
        height: 100%;
    }
}

.slider-left {
    width: 50px;
    & img {
        width: 50px;
        height: 50px;
        transition: 0.05s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    & img:hover {
        transform: scale(1.2);
    }
}
.content-holder {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
        height: 400px;
        min-width: 250px;
        border-radius: 3px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.45);
    }
}
.slider-right {
    width: 50px;
    & img {
        width: 50px;
        height: 50px;
        transition: 0.05s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    & img:hover {
        transform: scale(1.2);
    }
}

/*   */
/* M */
/* E */
/* D */
/* I */
/* A */
/*   */
/* S */
/* C */
/* R */
/* E */
/* E */
/* N */
/*   */

@media screen and (max-width: 1050px) {
    .pop-background {
        width: 95%;
        height: 80%;
        border-radius: 10px;
        background-color: white;
    }
    .project-name {
        height: 5%;
        & span {
            font-size: 20px;
        }
    }
    .slider-holder {
        height: 45%;
        width: 100%;
        padding: 5% 0%;

        & .slider-left {
            display: flex;
            align-items: center;
            justify-content: center;
            & img {
                width: 20px;
                height: 20px;
            }
        }

        & .slider-right {
            display: flex;
            align-items: center;
            justify-content: center;
            & img {
                width: 20px;
                height: 20px;
            }
        }
    }
    .project-slider-full-desc-holder {
        height: 95%;
        flex-direction: column;
    }
    .project-full-description {
        width: 90%;
        height: 55%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: none;
        border-top: 2px solid black;
        & span {
            font-size: 11px;
        }
    }
    .content-holder {
        & img {
            height: 170px;
            min-height: 90px;
            min-width: 70px;
        }
    }
}
